#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 350ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffc107aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: rotate-logo infinite 25s linear;
  }
}

.card {
  padding: 1.5em;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.info-text {
  color: #666;
}
